./CMakeLists.txt
*~
*.swn
*.swo
*.swp
*sdk.launch
build.sh
.idea/
.history
debian/ros-melodic-am-osdk-ros*
debian/ros-melodic-dji-onboard-sdk-ros.debhelper.log
ros-melodic-dji-onboard-sdk-build-deps_*_all.deb
build
catkin_ws
.vscode

debian/ros-*-dji-onboard-sdk-ros*
debian/ros-*-dji-osdk-ros*
