Source: ros-melodic-dji-onboard-sdk
Section: unknown
Priority: extra
Maintainer: AutoModality <dev@automodality.com>
Build-Depends: debhelper (>=9) , 
    dji-onboard-sdk, 
    ros-melodic-nmea-msgs,
    libusb-1.0-0-dev,
    ffmpeg,
Standards-Version: 3.9.6
Homepage: https://github.com/AutoModality/OSDK-ROS

Package: ros-melodic-dji-onboard-sdk-ros
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends} , 
    dji-onboard-sdk, 
    ros-melodic-nmea-msgs,
    libusb-1.0-0-dev,
    ffmpeg,
Description: OSDK-ROS node for interfacing with DJI's OSDK

